@import "variables.scss";

.map {
  flex-grow: 1;
  max-width: 600px;
  margin-left: 20px;

  &__img {
    max-width: 600px;
    height: 400px;
    border-radius: 5px;
    @media screen and (max-width: $width-mobile) {
      height: 270px;
    }
  }
  &__coordinates {
    font-size: 13px;
    line-height: 3px;
  }
  @media screen and (max-width: $width-tablet) {
    margin-left: 0px;
  }
}
