@import "variables.scss";

.map {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 20px;

  &__img {
    flex-grow: 1;
    max-width: 600px;
    min-height: 200px;
    border-radius: 5px;
    @media screen and (max-width: $width-small-mobile) {
      min-height: 180px;
    }
  }
  &__coordinates {
    font-size: 13px;
    line-height: 3px;

    @media screen and (max-width: $width-small-mobile) {
      font-size: 11px;
      line-height: 2px;
    }
  }
  @media screen and (max-width: $width-tablet) {
    margin-left: 0px;
  }
}
