@import "variables.scss";

.weather {
  // padding-left: 40px;
  &__today {
    display: flex;
    align-items: flex-end;
    margin-top: 70px;

    // @media screen and (max-width: $width-mobile) {
    //   flex-direction: column;
    //   align-items: flex-start;
    // }

    &_temp {
      position: relative;
      font-weight: bold;
      font-size: 300px;
      line-height: 235px;

      @media screen and (max-width: $width-mobile) {
        font-size: 90px;
        line-height: 85px;
      }
    }
    &_description {
      font-weight: bold;
      font-size: 22px;
      line-height: 20px;

      @media screen and (max-width: $width-mobile) {
        margin-left: 6px;
        font-size: 14px;
        line-height: 17px;
      }

      p {
        margin: 0;
      }
    }
  }

  &__three-days {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media screen and (max-width: $width-mobile) {
      margin-top: 3px;
    }
    &_day {
      // flex-grow: 1;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      margin-right: 15px;

      @media screen and (max-width: $width-mobile) {
        margin-right: 3px;
        font-size: 13px;
        line-height: 24px;
      }

      &:last-child {
        margin-right: 0;
      }
      &-temp {
        display: inline-block;
        position: relative;
        margin: 15px 60px 0px 0;
        padding-left: 10px;
        font-weight: 600;
        font-size: 80px;
        line-height: 80px;

        @media screen and (max-width: $width-mobile) {
          margin: 5px 30px 0px 0;
          padding-left: 0px;
          font-size: 40px;
          line-height: 50px;
        }
        &:last-child {
          margin-right: 26px;
        }
      }
    }
  }

  @media screen and (max-width: $width-tablet) {
    // padding-left: 25px;
  }
}

.icon {
  position: absolute;
  top: -100px;
  right: -50px;
  width: 150px;
  height: 150px;
  // background-color: rgba(255, 255, 255, 0.342);
  background-image: url(../src/assets/icons/clear-night.svg);
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $width-tablet) {
    top: -100px;
    right: -124px;
  }

  &-small {
    top: -17px;
    right: -37px;
    width: 50px;
    height: 50px;
  }
}
