@import "./styles/variables.scss";
@import "./styles/backgroundImg.scss";
@import "./styles/header.scss";
@import "./styles/sity-time.scss";
@import "./styles/weather.scss";
@import "./styles/map.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 40px;

  @media screen and (max-width: $width-tablet) {
    flex-direction: column;
    padding: 0 25px;
  }
}
.container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $width-tablet) {
    flex-direction: column;
  }
}

.start-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: black;
  z-index: 3;
  p {
    display: inline-block;
    margin-top: 50vh;
  }
}
